<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Drivern Basic">
<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<listener class-name="crg.Liteners.Customlisteners"/>
</listeners>
  <test  name="Test1">
    <classes>
      <class name="crg.Testcases.Login"/>
    </classes>
  </test> <!-- Test -->
	<test  name="Test2">
    <classes>
      <class name="crg.Testcases.AddCust"/>
    </classes>
  </test> <!-- Test -->
</suite> 

